<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/topmenu.css') }}" />
    {% block extra_style %}{% endblock %}
   </head>
  <body>
    <div class="size-adjust-wrapper">
      <div class="navbar">
        <div class="top-logo-container">
            <div class="top-logo-text">HRデータ分析ダッシュボード</div>
        </div>
        <div class="top-menu-container">
          <div class="top-menu-item active">
            <div>退職傾向分析</div>
          </div>
          <div class="top-menu-item">
            <div>設定</div>
          </div>
        </div>
      </div>
      <!-- メインコンテンツ。他のHTMLファイルの内容をここに表示する。 -->
      <div class="main-content">
        {% block content %}{% endblock %}
      </div>
    </div>
 </body>
</html>